  <h1>投稿一覧</h1>

  <table class="table">
    <thead>
      <tr>
        <th>投稿者</th>
        <th>タイトル</th>
        <th>投稿の内容</th>
        <th class="text-center">コメント数</th>
        <th>いいね</th>
        <th>PV数</th>
        <th>投稿日</th>
      </tr>
    </thead>

  <% opinions.each do |opinion| %>

   <tbody>
      <tr>
        <td class="align-middle">
          <% if opinion.user.is_deleted == false %>
              <% if user_signed_in? %>
                  <%= link_to user_path(opinion.user.id) do %>
                     <%= image_tag opinion.user.get_profile_image, width: '85px' %><br>
                     <%= opinion.user.name %>
                  <% end %>
              <% else %>
                     <%= image_tag opinion.user.get_profile_image, width: '85px' %><br>
                     <%= opinion.user.name %>
              <% end %>
          <% elsif opinion.user.is_deleted == true %>
                     <%= image_tag asset_path("publicdomainq-0066061vap.jpg"), width: '85px' %><br>
                     <%= opinion.user.name %>
          <% end %>
       </td>
        <td class="align-middle">
          <% if opinion.user.is_deleted == false %>
             <%= link_to opinion_path(opinion.id) do %>
                <%= opinion.opinion_title %>
             <% end %>
          <% elsif opinion.user.is_deleted == true %>
             <%= link_to opinion_path(opinion.id) do %>
                投稿者退会のため、<br>
                非表示になりました。
             <% end %>
          <% end %>
       </td>
        <td class="align-middle">
          <% if opinion.user.is_deleted == false %>
             <%= opinion.opinion_body %>
          <% end %>
        </td>
        <td class="align-middle text-center">
          <% if opinion.user.is_deleted == false %>
             <%= opinion.opinion_comments.count %>
          <% end %>
        </td>
        <td class="align-middle">
          <% if opinion.user.is_deleted == false %>
             <% if user_signed_in? %>

                <div id="opinion_favorite_buttons_<%= opinion.id %>">
                  <%= render partial: "users/opinions/opinion_favorite", locals: { opinion: opinion } %>
                </div>

             <% else %>

                  ♥<%= opinion.opinion_favorites.count %>

             <% end %>
          <% end %>
        </td>
        <td class="align-middle text-center">
        <% if opinion.user.is_deleted == false %>
          <%= opinion.impressions_count %>
        <% end %>
       </td>
        <td class="align-middle"><%= opinion.created_at.strftime('%Y/%m/%d') %></td>
      </tr>
    </tbody>

  <% end %>

  </table>

  <div class="pagination justify-content-center">
    <%= paginate(opinions) %>
  </div>