<% if user_signed_in? %>

<h2 class="text-center mt-3">新規投稿</h2>

  <%= form_with model: @opinion, url: '/opinions', method: :post do |f| %>
  <div class="form-group">
    <div>
      <label>タイトル</label>
    </div>
    <div>
      <%= f.text_field :opinion_title, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <div>
      <label>内容</label>
    </div>
    <div>
      <%= f.text_area :opinion_body, class: 'form-control' %>
    </div>
  </div>

    <div class="form-group">

       <%= f.submit '投稿する', class: 'btn btn-success btn-block' %>

    </div>

  <% end %>

<% else %>

<h2 class="text-center mt-5">新規投稿</h2>

 <div class="text-center mt-2">投稿はログイン状態のみ可能です。</div>

  <div class="mt-2 mb-4">
    <%= link_to new_user_session_path, class: 'btn btn-success btn-block' do %>
        <i>ログインしますか？</i>
    <% end %>
  </div>

<% end %>