<h1>記事一覧</h1>

  <table class="table">

    <thead>
      <tr>
        <th>題材作品</th>
        <th>投稿記事</th>
        <th>投稿者</th>
        <th>コメント数</th>
        <th>ブックマーク数</th>
        <th>投稿日</th>
      </tr>
    </thead>

  <% reviews.each do |review| %>

    <tbody>
     <tr>
      <td class="align-middle text-center">
        <% if review.user.is_deleted == false %>
           <%= image_tag review.get_image, width: '85px' %><br>
           <%= review.book_name %>
        <% elsif review.user.is_deleted == true %>
           <%= image_tag asset_path("はてなマークのアイコン素材 12.png"), width: '85px' %>
        <% end %>
      </td>
      <td>
        <% if review.user.is_deleted == false %>
          <%= link_to review.review_title, users_review_path(review.id) %>
        <% elsif review.user.is_deleted == true %>
          <%= link_to users_review_path(review.id) do %>
            投稿者退会のため、非表示になりました。
          <% end %>
        <% end %>
      </td>
      <td>
        <% if review.user.is_deleted == false %>

            <% if user_signed_in? %>

              <%= link_to users_user_path(review.user.id) do %>
                <%= image_tag review.user.get_profile_image, width: '85px' %><br>
                <%= review.user.name %>
              <% end %>

            <% else %>

                <%= image_tag review.user.get_profile_image, width: '85px' %><br>
                <%= review.user.name %>

            <% end %>

        <% elsif review.user.is_deleted == true %>

                <%= image_tag asset_path("publicdomainq-0066061vap.jpg"), width: '85px' %><br>
                <%= review.user.name %>

        <% end %>

      </td>
      <td>
        <% if review.user.is_deleted == false %>
           <%= review.review_comments.count %>
        <% end %>
      </td>
      <td>
        <% if review.user.is_deleted == false %>

          <% if user_signed_in? %>

              <div id="review_favorite_buttons_<%= review.id %>">
                <%= render partial: "users/reviews/review_favorite", locals: { review: review } %>
              </div>

          <% else %>

                ♥<%= review.review_favorites.count %> いいね

          <% end %>

        <% end %>
      </td>
      <td><%= review.created_at.strftime('%Y/%m/%d') %></td>
     </tr>
    </tbody>

  <% end %>

  </table>

  <div class="pagination justify-content-center">
    <%= paginate(reviews) %>
  </div>