  <table class="table">

    <thead>
      <tr>
        <th>登録画像</th>
        <th>登録名</th>
        <th>この会員に対する<br>
            あなたのフォロー</th>
        <th class="text-center">フォロー数</th>
        <th class="text-center">フォロワー数</th>
        <th></th>
      </tr>
    </thead>

    <% @users.each do |user| %>

    <tbody>
      <tr>
        <td>
          <% if user.is_deleted == false %>
            <%= image_tag user.get_profile_image, width: '85px' %>
          <% elsif user.is_deleted == true %>
            <%= image_tag asset_path("publicdomainq-0066061vap.jpg"), width: '85px' %>
          <% end %>
        </td>
        <td class="align-middle"><%= user.name %></td>
        <td class="align-middle">
          <% if user.is_deleted == false %>
          <div class="follow_buttons_<%= user.id %>">
            <%= render partial: "users/relationships/btn", locals: { user: user }  %>
          </div>
          <% end %>
        </td>
        <td class="align-middle text-center">
          <% if user.is_deleted == false %>
            <%= user.followings.count %>
          <% end %>
        </td>
        <td class="align-middle text-center">
          <% if user.is_deleted == false %>
            <%= user.followers.count %>
          <% end %>
        </td>
        <td class="align-middle">
          <%= link_to "詳細", user_path(user.id) %>
        </td>
      </tr>
    </tbody>

    <% end %>

  </table>

  <div class="pagination justify-content-center">
    <%= paginate(@users) %>
  </div>