<div class="mx-auto" style="width: 1200px;">

  <% if @user.opinions.present? %>

      <h1>投稿一覧</h1>

        <table class="table">
          <thead>
            <tr>
              <th>投稿者</th>
              <th>投稿タイトル</th>
              <th>投稿の内容</th>
              <th>コメント数</th>
              <th>ブックマーク数</th>
              <th>投稿日</th>
            </tr>
          </thead>

        <% @opinions.each do |opinion| %>

         <tbody>
            <tr>
              <td>
                <% if opinion.user.is_deleted == false %>
                    <% if user_signed_in? %>
                        <%= link_to users_user_path(opinion.user.id) do %>
                           <%= image_tag opinion.user.get_profile_image, width: '85px' %><br>
                           <%= opinion.user.name %>
                        <% end %>
                    <% else %>
                           <%= image_tag opinion.user.get_profile_image, width: '85px' %><br>
                           <%= opinion.user.name %>
                    <% end %>
                <% elsif opinion.user.is_deleted == true %>
                           <%= image_tag asset_path("mark_batsu_illust_898.png"), width: '85px' %><br>
                           <%= opinion.user.name %>
                <% end %>
             </td>
              <td>
                <% if opinion.user.is_deleted == false %>
                   <%= link_to users_opinion_path(opinion.id) do %>
                      <%= opinion.opinion_title %>
                   <% end %>
                <% elsif opinion.user.is_deleted == true %>
                   <%= link_to users_opinion_path(opinion.id) do %>
                      投稿者退会のため、非表示になりました。
                   <% end %>
                <% end %>
             </td>
              <td>
                <% if opinion.user.is_deleted == false %>
                   <%= opinion.opinion_body %>
                <% end %>
              </td>
              <td>
                <% if opinion.user.is_deleted == false %>
                   <%= opinion.opinion_comments.count %>
                <% end %>
              </td>
              <td>
                <% if opinion.user.is_deleted == false %>

                  ♥<%= opinion.opinion_favorites.count %> いいね

                <% end %>
              </td>
              <td><%= opinion.created_at.strftime('%Y/%m/%d') %></td>
            </tr>
          </tbody>

        <% end %>

        </table>
        <div class="text-center m-5">
           <%= link_to "全ての会員の投稿一覧", users_opinions_path, class:"m-3" %>
        </div>

  <% else %>

  　     <% if @user == current_user %>

          <h2 class="text-center mb-5">あなたは、まだ投稿していません。</h2>

            <div class="text-center m-5">
              <%= link_to "マイページに戻る", users_user_path(@user.id) %>
            </div>

        <% else %>

          <h2 class="text-center mb-5"><%= @user.name %> さんは、まだ投稿していません。</h2>

            <div class="text-center m-5">
              <%= @user.name %> さんの<%= link_to "詳細に戻る", users_user_path(@user.id) %>
            </div>

        <% end %>

  <% end %>

</div>