<div class="mx-auto" style="width: 1200px;">

  <% if @user.opinions.present? %>

        <%= render '/users/users/opinions_all', opinions: @opinions %>

  <% else %>

  　     <% if @user == current_user %>

          <h2 class="text-center mb-5">あなたは、まだ投稿していません。</h2>

            <div class="text-center m-5">
              <%= link_to "マイページに戻る", users_user_path(@user.id) %>
            </div>

        <% else %>

          <h2 class="text-center mb-5"><%= @user.name %> さんは、まだ投稿していません。</h2>

            <div class="text-center m-5">
              <%= @user.name %> さんの<%= link_to "詳細に戻る", users_user_path(@user.id) %>
            </div>

        <% end %>

  <% end %>

</div>