<div class="mx-auto" style="width: 1000px;">

  <% if @user == current_user %>

      <% if @favorite_opinions.present? %>
         <h2 class="text-center mb-5">あなたが、ブックマークした投稿です。</h2>
         <%= render '/users/users/opinions_all_favorites', opinions: @favorite_opinions %>
      <% else %>
         <h2 class="ml-5">あなたは、まだ投稿をブックマークしていません。</h2>
      <% end %>

  <% else %>

      <% if @favorite_opinions.present? %>
         <h2 class="text-center mb-5"><%= @user.name %> さんが、ブックマークした投稿です。</h2>
         <%= render '/users/users/opinions_all_favorites', opinions: @favorite_opinions %>
      <% else %>
         <h2 class="ml-5"><%= @user.name %> さんは、まだ投稿をブックマークしていません。</h2>
      <% end %>

      <div class="text-center m-5">
         <%= @user.name %> さんの<%= link_to "詳細に戻る", users_user_path(@user.id) %>
      </div>

  <% end %>

</div>