  <% if @user == current_user %>
      <% if @favorite_opinions.present? %>
      <div class="mx-auto" style="width: 1400px;">
         <h2 class="text-center mb-5">あなたが、いいねを押した投稿です。</h2>
         <%= render '/users/users/opinions_all', opinions: @favorite_opinions %>
         <h4 class="text-center m-5">※一覧から消したいものがあれば、自分の いいねを外して画面をリロードしてください。</h4>
      </div>
      <% else %>
      <div class="mx-auto" style="width: 900px;">
         <h2 class="mx-auto text-center" style="width: 1000px;">あなたはまだ、投稿に対して、いいねを押していません。</h2>
      </div>
      <% end %>

      <div class="text-center m-5">
         <%= link_to "マイページに戻る", user_path(@user.id) %>
      </div>

  <% else %>
      <% if @favorite_opinions.present? %>
      <div class="mx-auto" style="width: 1400px;">
         <h2 class="text-center mb-4"><%= @user.name %> さんが、</h2>
         <h2 class="text-center mb-5">いいねを押した投稿です。</h2>
         <%= render '/users/users/opinions_all', opinions: @favorite_opinions %>
      </div>
      <% else %>
      <div class="mx-auto" style="width: 900px;">
         <h2 class="text-center"><%= @user.name %> さんは、</h2>
         <h2 class="text-center mt-4">まだ投稿に対して、いいねを押していません。</h2>
      </div>
      <% end %>

      <div class="text-center m-5">
         <%= @user.name %> さんの<%= link_to "詳細に戻る", user_path(@user.id) %>
      </div>

  <% end %>