<div class="mx-auto" style="width: 1200px;">

  <% if @user.reviews.present? %>

        <%= render '/users/users/reviews_all', reviews: @reviews %>

  <% else %>

        <% if @user == current_user %>

          <h2 class="text-center mb-5">あなたは、まだ記事を投稿していません。</h2>

            <div class="text-center m-5">
              <%= link_to "マイページに戻る", users_user_path(@user.id) %>
            </div>

        <% else %>

          <h2 class="text-center mb-5"><%= @user.name %> さんは、まだ記事を投稿していません。</h2>

          <div class="text-center m-5">
              <%= @user.name %> さんの<%= link_to "詳細に戻る", users_user_path(@user.id) %>
          </div>

        <% end %>

  <% end %>

</div>