  <div class="container mt-4">
    <div class="row">
      <div class="col-md-3">

          <%= render '/users/users/user_info', user: @user %>

          <%= render '/users/users/opinion_post_show' %>

      </div>
      <div class="col-md-8 offset-md-1">

        <% if @user == current_user %>

        <h2 class="text-center mt-3">ここは、あなたのマイページです。</h2>

          <%= link_to opinions_user_index_users_user_path(@user), class: 'btn btn-outline-secondary btn-block mt-5 mr-5' do %>
              あなたの投稿一覧
          <% end %>

          <%= link_to reviews_user_index_users_user_path(@user), class: 'btn btn-outline-secondary btn-block mt-5 mr-5' do %>
              あなたの投稿記事一覧
          <% end %>

        <% else %>

  <% if @user.is_deleted == false %>

        <h2 class="text-center mt-3">ここは、<%= @user.name %> さんの詳細ページです。</h2>

          <%= link_to opinions_user_index_users_user_path(@user), class: 'btn btn-outline-secondary btn-block mt-5 mr-5' do %>
              <%= @user.name %> さんの投稿一覧
          <% end %>

          <%= link_to reviews_user_index_users_user_path(@user), class: 'btn btn-outline-secondary btn-block mt-5 mr-5' do %>
              <%= @user.name %> さんの投稿記事一覧
          <% end %>

  <% elsif @user.is_deleted == true %>

          <h1 class="text-center m-5"><%= @user.name %> さんは退会しています。</h1>

  <% end %>

        <% end %>

      </div>
    </div>
  </div>