 <div class="mx-auto" style="width: 1200px;">

    <h2>投稿詳細</h2>

      <table class="table table-hover table-inverse">
       <thead>
        <tr>
        <th>投稿日</th>
        <th>投稿者</th>
        <th>投稿タイトル</th>
        <th>投稿内容</th>
        <th></th>
        </tr>
      </thead>

       <tbody>
        <tr>
         <td><%= @opinion.created_at.strftime('%Y/%m/%d') %></td>
         <td>
          <%= link_to admins_user_path(@opinion.user.id) do %>
           <%= image_tag @user.get_profile_image, width: '85px' %><br>
           <%= @user.name %>
          <% end %>
         </td>
         <td>
           <span><%= @opinion.opinion_title %></span>
         </td>
         <td>
           <span><%= @opinion.opinion_body %></span>
         </td>
         <td><%= link_to "管理者として削除する", admins_opinion_path(@opinion.id), class: 'btn btn-sm btn-danger', method: :delete, "data-confirm" => "本当に消しますか？" %></td>
        </tr>
      </tbody>

      </table>

      <div id="opinion_comment_area">
         <%= render partial: '/admins/opinions/opinion_comments_all', locals: { opinion_comment: @opinion_comment, opinion_comments: @opinion_comments } %>
      </div>

    <div class="text-center mt-5">
      <%= link_to "全ての会員の投稿一覧", admins_opinions_path, class:"m-3" %>
      <%= link_to "この会員の投稿一覧", opinions_user_index_admins_user_path(@user), class:"m-3" %>
    </div>

 </div>