<div class="mx-auto" style="width: 1200px;">

<h2>通報一覧</h2>

<table class="table">
  <thead>
    <tr>
      <th>通報id</th>
      <th>会員名</th>
      <th>通報者</th>
      <th>通報理由</th>
      <th>ステータス</th>
      <th>通報日</th>
    </tr>
  </thead>
  <tbody>
    <% @reports.each do |report| %>
      <tr>
        <td><%= report.id %></td>
        <td><%= report.reported.name %></td>
        <td><%= report.reporter.name %></td>
        <td><%= link_to "詳細はここに", admins_report_path(report) %></td>
        <td><%= report.status_i18n %></td>
        <td><%= report.created_at.strftime('%Y/%m/%d') %></td>
      </tr>
    <% end %>
  </tbody>
</table>

</div>