<table class='table table-hover table-inverse'>
  <thead>
    <tr>
      <th></th>
      <th>Title</th>
      <th>Opinion</th>
      <th colspan="3"></th>
    </tr>
    <% reviews.each do |review| %>

      <tbody>
        <tr>
      <td>
      <%= image_tag review.get_image, size: "100x100" %><br>
      <%= review.book_name %>
      <td>
      <%= link_to review.review_title, users_review_path(review.id) %>
      </td>
      <td>
        <%= review.user.name %>
      </td>
      <td>
        <%= review.created_at.strftime('%Y/%m/%d') %>
      </td>
        </tr>
      </tbody>

  <% end %>
</table>