  <h2 class="mx-auto mt-5" style="width: 400px;">コメントは現在<%= @review.review_comments.count %>件です。</h2>
  <table class="table mt-5">
    <thead>
     <tr>
      <th>コメント投稿者</th>
      <th>コメント内容</th>
      <th></th>
      <th>投稿日</th>
     </tr>
   </thead>
   <tbody>
     <% review_comments.each do |review_comment| %>
      <tr>
        <td class="align-middle">
         <% if review_comment.user.is_deleted == false %>
            <% if user_signed_in? %>
              <%= link_to user_path(review_comment.user.id) do %>
               <%= image_tag review_comment.user.get_profile_image, width: '85px' %><br>
               <%= review_comment.user.name %>
              <% end %>
            <% else %>
               <%= image_tag review_comment.user.get_profile_image, width: '85px' %><br>
               <%= review_comment.user.name %>
            <% end %>
         <% elsif review_comment.user.is_deleted == true %>
               <%= image_tag asset_path("publicdomainq-0066061vap.jpg"), width: '85px' %><br>
               <%= review_comment.user.name %>
         <% end %>
        </td>
        <td class="align-middle">
          <% if review_comment.user.is_deleted == false %>
             <%= review_comment.review_comment %>
          <% elsif review_comment.user.is_deleted == true %>
             <%= link_to user_path(review_comment.user.id) do %>
               投稿者退会のため、<br>
               非表示になりました。
             <% end %>
          <% end %>
        </td>
        <td class="align-middle"><% if review_comment.user == current_user %>
               <%= link_to "削除", review_review_comment_path(@review.id, review_comment.id), remote: true, method: :delete, data: {confirm: "本当に削除しますか？"}  %>
            <% else %>
            <% end %>
        </td>
        <td class="align-middle"><%= review_comment.created_at.strftime('%Y/%m/%d') %></td>
      </tr>
     <% end %>
   </tbody>
  </table>