<div class="mx-auto mt-4" style="width: 1000px;">

  <h4 class="mx-auto text-center mt-4" style="width: 1000px;">
    <%= link_to user_path(@review.user.id) do %>
      投稿者：<%= @review.user.name %>
    <% end %>
  </h4>
  <h6 class="mx-auto text-center mt-1" style="width: 1000px;">投稿日：<%= @review.created_at.strftime('%Y/%m/%d') %></h6>

  <% if @user.is_deleted == false %>

    <h1 class="mx-auto mt-4" style="width: 800px;"><%= @review.review_title %></h1>
    <div class="mx-auto mt-4" style="width: 400px;">
        <% if @review.image.attached? %>
               <%= image_tag @review.image, width: '380px' %>
             <div class="text-center">
                <% @review.tags.each do |tag| %>
                   <span class="AI"><%= tag.name %></span>
                <% end %>
             </div>
        <% else %>
             <%= image_tag '20200501_noimage.jpg', size: "400x400" %>
        <% end %>
    </div>
    <div class="mx-auto text-center mt-4" style="width: 400px;"><h2>原作：<%= @review.book_name %></h2></div>

       <h4 class="mx-auto mt-4 mb-4" style="width: 600px;"><%=safe_join(@review.review_body.split("\n"),tag(:br))%><%#= @review.review_body %></h4>

        <% if @review.user == current_user %>
        <div class="text-center">
          <%= link_to "記事を編集する", edit_review_path(@review.id), class:"m-3" %>
          <%= link_to "記事を削除する", review_path(@review.id), method: :delete, "data-confirm" => "本当にこの記事を削除しても構いませんか？", class:"m-3" %>
        </div>
        <% else %>
        <% end %>
        <div class="text-center m-2">
          <%= link_to "この会員の記事一覧", reviews_user_index_user_path(@user), class:"m-3" %>
        </div>
        <div class="text-center">
          <%= link_to "全ての会員の記事一覧", reviews_path, class:"m-3" %>
        </div>

       <div class="text-center m-3">

      <% if user_signed_in? %>

             <div id="review_favorite_buttons_<%= @review.id %>">
               <%= render partial: "/users/reviews/review_favorite", locals: { review: @review } %>
             </div>

             <div class="mt-3 mb-4">
               ※いいね （ブックマーク）は、一人一個まで可能です。<br>
                 ハートに色がついている場合、あなたは既に押されています。
             </div>

      <% else %>

             ♥<%= @review.review_favorites.count %> いいね
             <div class="mt-3 mb-5">
                ※いいね（ブックマーク）およびコメントは<%= link_to "ログイン", new_user_session_path %>ユーザーのみ可能となります。
            </div>

      <% end %>

       </div>

    <h2 class="mx-auto" style="width: 400px;">コメントは現在<%= @review.review_comments.count %>件です。</h2>

      <% if user_signed_in? %>

        <div class="text-center mt-4">
          <div id="review_comment_error">
            <%= render 'layouts/errors', obj: @review_comment %>
          </div>
        </div>

        <div class="mx-auto" style="width: 600px;">
          <%= render partial: '/users/reviews/review_comment_post', locals: { review: @review, review_comment: @review_comment } %>
        </div>

      <% else %>

      <% end %>

        <div id="review_comment_area">
          <%= render partial: '/users/reviews/review_comments_all', locals: { review_comment: @review_comment, review_comments: @review_comments } %>
        </div>

  <% elsif @user.is_deleted == true %>

  <div class="text-center m-5 h2">
    投稿者退会のため<br>
    記事は非表示にさせていただきます。
  </div>

  <% end %>

</div>