<h2>タイトル</h2>
<p><%= @review.review_title %></p>

<p>投稿日：<%= @review.created_at.strftime('%Y/%m/%d') %></p>

<h2>画像</h2>
<% if @review.image.attached? %>
  <%= image_tag @review.image, size: "300x300" %>
<% else %>
  <%= image_tag 'no_image', size: "300x300" %>
<% end %>

<h2>本文</h2>
<p><%= @review.review_body %></p>

<%= link_to "記事を編集する", edit_users_review_path(@review.id) %>
<%= link_to "削除", users_review_path(@review.id), method: :delete, "data-confirm" => "本当に削除しますか？" %>

<%= link_to "記事一覧に戻る", users_reviews_path %>

  <% if @review.user == current_user %>
    <%= link_to "削除", users_review_path(@review.id), method: :delete %>
  <% end %>