<div class="mx-auto mt-4" style="width: 600px;">

  <%= render 'layouts/errors', obj: @review_comment %>

  <h4 class="mx-auto text-center mt-4" style="width: 400px;">
    <%= link_to users_user_path(@review.user.id) do %>
      投稿者：<%= @review.user.name %>
    <% end %>
  </h4>
  <h6 class="mx-auto text-center mt-1" style="width: 400px;">投稿日：<%= @review.created_at.strftime('%Y/%m/%d') %></h6>


  <% if @user.is_deleted == false %>

    <h1 class="mx-auto mt-4" style="width: 400px;"><%= @review.review_title %></h1>
    <div class="mx-auto mt-4" style="width: 400px;">
      <div>
        <% if @review.image.attached? %>
             <%= image_tag @review.image, size: "400x400" %>
        <% else %>
             <%= image_tag 'no_image.jpg', size: "400x400" %>
        <% end %>
      </div>
      <div><h2>原作：<%= @review.book_name %></h2></div>
    </div>

       <h4 class="mx-auto mt-4 mb-4" style="width: 400px;"><%=safe_join(@review.review_body.split("\n"),tag(:br))%><%#= @review.review_body %></h4>

        <% if @review.user == current_user %>
        <div class="text-center">
          <%= link_to "記事を編集する", edit_users_review_path(@review.id), class:"m-3" %>
          <%= link_to "記事を削除する", users_review_path(@review.id), method: :delete, "data-confirm" => "本当にこの記事を削除しても構いませんか？", class:"m-3" %>
        </div>
        <% else %>
        <% end %>
        <div class="text-center m-2">
          <%= link_to "この会員の記事一覧", reviews_user_index_users_user_path(@user), class:"m-3" %>
        </div>
        <div class="text-center">
          <%= link_to "全ての会員の記事一覧", users_reviews_path, class:"m-3" %>
        </div>

       <div class="text-center m-3">

      <% if user_signed_in? %>

          <% if @review.favorited_by?(current_user) %>

             <%= link_to users_review_review_favorites_path(@review, params: { review: { down: 2} }), method: :delete do %>
             ♥<%= @review.review_favorites.count %> いいね と思ったらこちらを押してください。
             <% end %><br>

          <% else %>

             <%= link_to users_review_review_favorites_path(@review, params: { review: { up: 2} }), method: :post do %>
             ♡<%= @review.review_favorites.count %> いいね と思ったらこちらを押してください。
             <% end %><br>

          <% end %>

             <div class="mt-3 mb-4">
               ※いいね （ブックマーク）は、一人一個まで可能です。<br>
                 ハートに色がついている場合、あなたは既に押されています。
             </div>

      <% else %>

             ♥<%= @review.review_favorites.count %> いいね
             <div class="mt-3 mb-5">
                ※いいね（ブックマーク）およびコメントは<%= link_to "ログイン", new_user_session_path %>ユーザーのみ可能となります。
            </div>

      <% end %>

       </div>

    <h2 class="mx-auto" style="width: 400px;">コメントは現在<%= @review.review_comments.count %>件です。</h2>

      <% if user_signed_in? %>

          <%= form_with(model:[@review, @review_comment], url: '/users/reviews/'+"#{@review.id}"+'/review_comments', method: :post) do |f| %>
              <%= f.text_area :review_comment, size: "78x5", class:"mt-3" %><br>
              <%= f.submit '送信', class: "btn btn-primary btn-block mt-2" %>
          <% end %>

      <% else %>

      <% end %>

  <table class="table mt-5">
    <thead>
     <tr>
      <th>コメント投稿者</th>
      <th>コメント内容</th>
      <th></th>
      <th>コメント投稿日</th>
     </tr>
   </thead>
   <tbody>
     <% @review.review_comments.each do |review_comment| %>
      <tr>
        <td>
          <% if user_signed_in? %>
             <%= link_to users_user_path(review_comment.user.id) do %>
               <%= image_tag review_comment.user.get_profile_image, width: '85px' %><br>
               <%= review_comment.user.name %>
             <% end %>
          <% else %>
               <%= image_tag review_comment.user.get_profile_image, width: '85px' %><br>
               <%= review_comment.user.name %>
          <% end %>
        </td>
        <td><%= review_comment.review_comment %></td>
        <td><% if review_comment.user == current_user %>
               <%= link_to "削除", users_review_review_comment_path(@review.id, review_comment.id), method: :delete %>
            <% else %>
            <% end %>
        </td>
        <td><%= review_comment.created_at.strftime('%Y/%m/%d') %></td>
      </tr>
     <% end %>
   </tbody>
  </table>

  <% elsif @user.is_deleted == true %>

  <div class="text-center m-5">
    投稿者退会のため<br>
    記事は非表示にさせていただきます。
  </div>

  <% end %>

</div>