<div class="mx-auto mt-4" style="width: 800px;">

  <%= render 'layouts/errors', obj: @review_comment %>

  <p>投稿日：<%= @review.created_at.strftime('%Y/%m/%d') %></p>

  <% if @user.is_deleted == false %>

    <h2><%= @review.review_title %></h2>
    <div>
      <div>
        <% if @review.image.attached? %>
             <%= image_tag @review.image, size: "300x300" %>
        <% else %>
             <%= image_tag 'no_image', size: "300x300" %>
        <% end %>
      </div>
      <div>原作：<%= @review.book_name %></div>
    </div>

    <h2 class="mt-5">本文</h2>
       <div><%= @review.review_body %></div>

       <div class="mt-5">
        <% if @review.user == current_user %>
          <%= link_to "記事を編集する", edit_users_review_path(@review.id) %>
          <%= link_to "削除", users_review_path(@review.id), method: :delete, "data-confirm" => "本当に削除しますか？"  %>
        <% else %>
        <% end %>
          <%= link_to "記事一覧に戻る", users_reviews_path %>
       </div>

        <% if user_signed_in? %>

          <% if @review.favorited_by?(current_user) %>

             <%= link_to users_review_review_favorites_path(@review, params: { review: { down: 2} }), method: :delete do %>
             ♥<%= @review.review_favorites.count %> いいね
             <% end %>

       <% else %>

             <%= link_to users_review_review_favorites_path(@review, params: { review: { up: 2} }), method: :post do %>
             ♡<%= @review.review_favorites.count %> いいね
             <% end %>

       <% end %>

  <% else %>

    ♥<%= @review.review_favorites.count %> いいね

  <% end %>

    <h2>コメントは現在<%= @review.review_comments.count %>件です。</h2>

      <% if user_signed_in? %>

          <%= form_with(model:[@review, @review_comment], url: '/users/reviews/'+"#{@review.id}"+'/review_comments', method: :post) do |f| %>
              <%= f.text_area :review_comment, size: "40x5" %>
              <%= f.submit '送信', class: "btn-sm btn-primary" %>
          <% end %>

      <% else %>

          <div>コメントはログイン状態でのみ可能です</div>

      <% end %>

  <table>
    <thead>
     <tr>
      <th>コメント投稿者</th>
      <th>コメント内容</th>
      <th></th>
     </tr>
   </thead>
   <tbody>
     <% @review.review_comments.each do |review_comment| %>
      <tr>
        <td><%= image_tag review_comment.user.get_profile_image %><br>
            <%= review_comment.user.name %>
        </td>
        <td><%= review_comment.review_comment %></td>
        <td><% if @review.user == current_user %>
               <%= link_to "削除", users_review_review_comment_path(@review.id, review_comment.id), method: :delete %>
            <% else %>
            <% end %>
        </td>
      </tr>
     <% end %>
   </tbody>
  </table>

  <% end %>

  <div>もしこの記事が見れない場合、書いたユーザーは退会になっている可能性があります。</div>

</div>