  <div class="mx-auto" style="width: 1200px;">

      <h2>投稿一覧</h2>

  <table class="table">
    <thead>
      <tr>
        <th>投稿者</th>
        <th>投稿タイトル</th>
        <th>投稿内容</th>
        <th>コメント数</th>
        <th>ブックマーク数</th>
        <th>投稿日</th>
      </tr>
    </thead>

  <% @opinions.each do |opinion| %>

    <tbody>
      <tr>
        <td>
          <%= link_to admins_user_path(opinion.user.id) do %>
            <%= image_tag opinion.user.get_profile_image %><br>
            <%= opinion.user.name %>
          <% end %>
       </td>
        <td>
          <%= link_to admins_opinion_path(opinion.id) do %>
            <%= opinion.opinion_title %>
          <% end %>
       </td>
        <td><%= opinion.opinion_body %></td>
        <td><%= opinion.opinion_comments.count %></td>
        <td><%= opinion.opinion_favorites.count %></td>
        <td><%= opinion.created_at.strftime('%Y/%m/%d') %></td>
      </tr>
    </tbody>

  <% end %>

  </table>

  </div>