  <div class="mx-auto" style="width: 1200px;">

      <h2>記事一覧</h2>

  <table class="table">
    <thead>
      <tr>
        <th>投稿者名</th>
        <th>投稿記事</th>
        <th>題材作品</th>
        <th>コメント数</th>
        <th>いいね数</th>
        <th>投稿日</th>
      </tr>
    </thead>

  <% @reviews.each do |review| %>

    <tbody>
      <tr>
        <td>
          <%= link_to admins_user_path(review.user.id) do %>
            <%= image_tag review.user.get_profile_image, width: '85px' %><br>
            <%= review.user.name %>
          <% end %>
        </td>
        <td><%= link_to review.review_title, admins_review_path(review.id) %></td>
        <td>
          <%= image_tag review.get_image, size: "100x100" %><br>
          <%= review.book_name %>
       </td>
        <td><%= review.review_comments.count %></td>
        <td>♥<%= review.review_favorites.count %></td>
        <td ><%= review.created_at.strftime('%Y/%m/%d') %></td>
      </tr>
    </tbody>

  <% end %>

  </table>

  </div>
