  <h2>User info</h2>
    <%= image_tag @user.get_profile_image %>

  <table class="table">
   <tbody>
    <tr>
    <th>name</th>
    <td><%= @user.name %></td>
    </tr>
    <tr>
    <th>email</th>
    <td><%= @user.email %></td>
    </tr>
    <tr>
    <th>introduction</th>
    <td><%= @user.introduction %></td>
    </tr>
    <tr>
    <th>会員ステータス</th>
    <% if @user.is_deleted == false %>
    <td>有効</td>
    <% else %>
    <td>退会</td>
    <% end %>
    </tr>
   </tbody>
 </table>

    <div class="row">

      <%= link_to edit_admins_user_path(@user), class: 'btn btn-outline-secondary btn-block' do %>
        <i class="fas fa-user-cog">編集ボタン</i>
      <% end %>
    </div>

    <div class="row">

      <%= link_to admins_opinions_path(@user), class: 'btn btn-outline-secondary btn-block' do %>
        <i class="fas fa-user-cog">つぶやき一覧</i>
      <% end %>
    </div>

    <div class="row">

      <%= link_to user_opinion_index_admins_user_path(@user), class: 'btn btn-outline-secondary btn-block' do %>
        <i class="fas fa-user-cog">ユーザーごとのつぶやき一覧</i>
      <% end %>
    </div>

    <div class="row">

      <%= link_to admins_reviews_path(@user), class: 'btn btn-outline-secondary btn-block' do %>
        <i class="fas fa-user-cog">記事一覧</i>
      <% end %>
    </div>


