  <div class="mx-auto" style="width: 600px;">

    <h2 class="text-center mb-4">会員情報</h2>

    <table class="table">
      <tbody>
        <tr>
         <th>登録画像</th>
         <td><%= image_tag @user.get_profile_image, width: '85px' %></td>
        </tr>
        <tr>
         <th>アカウント名</th>
         <td><%= @user.name %></td>
        </tr>
        <tr>
         <th>メールアドレス</th>
         <td><%= @user.email %></td>
        </tr>
        <tr>
         <th>自己紹介の内容</th>
         <td>
           <% if @user.introduction.present? %>
              <%=safe_join(@user.introduction.split("\n"),tag(:br)) %>
           <% end %>
        </td>
        </tr>
        <tr>
         <th>会員ステータス</th>
         <% if @user.is_deleted == false %>
         <td>有効</td>
         <% else %>
         <td>退会</td>
         <% end %>
        </tr>
        <tr>
         <th>アカウント作成日時</th>
         <td><%= @user.created_at.strftime('%Y/%m/%d') %></td>
        </tr>
        <tr>
         <th>管理者からの通告内容</th>
         <td><%=safe_join(@user.message.split("\n"),tag(:br)) if @user.message %></td>
        </tr>
      </tbody>
    </table>

    <div class="row">

      <%= link_to edit_admins_user_path(@user), class: 'btn btn-outline-secondary btn-block font-weight-bold' do %>
        会員情報編集
      <% end %>

      <%= link_to opinions_user_index_admins_user_path(@user), class: 'btn btn-outline-secondary btn-block font-weight-bold' do %>
        <%= @user.name %> さんの投稿一覧
      <% end %>

      <%= link_to reviews_user_index_admins_user_path(@user), class: 'btn btn-outline-secondary btn-block font-weight-bold' do %>
        <%= @user.name %> さんの投稿記事一覧
      <% end %>

    </div>

    <div class="text-center mt-5">
      <%= link_to "会員一覧に戻る", admins_users_path, class:"m-3" %>
    </div>

  </div>


