<div class="mx-auto mt-4" style="width: 1000px;">

  <h4 class="mx-auto text-center mt-4" style="width: 1000px;">管理者からのお知らせ</h4>
  <h6 class="mx-auto text-center mt-1" style="width: 1000px;">投稿日：<%= @contact.created_at.strftime('%Y/%m/%d') %></h6>

    <h1 class="mx-auto text-center mt-4" style="width: 600px;"><%= @contact.contact_title %></h1>

       <h4 class="mx-auto mt-4" style="width: 500px;"><%=safe_join(@contact.contact_body.split("\n"),tag(:br))%></h4>

       <div class="text-center mt-5">
          <%= link_to "お知らせを編集", edit_admins_contact_path(@contact.id), class:"m-3" %>
          <%= link_to "削除", admins_contact_path(@contact.id), method: :delete, "data-confirm" => "このお知らせを本当に削除しますか？", class:"m-3"  %>
          <%= link_to "お知らせ一覧", admins_contacts_path, class:"m-3" %>
       </div>

</div>