  <div class="container mt-4">
    <div class="row">
      <div class="col-md-3">

        <%= render '/users/users/user_info', user: @user %>

        <%= render '/users/users/show_opinion_post' %>

      </div>

      <div class="col-md-8 offset-md-1">

        <%= render '/layouts/errors', obj: @opinion_comment %>

      <h2><%= @opinion.created_at.strftime('%Y/%m/%d') %>の投稿</h2>

      <table class="table">
        <tbody>
          <tr>
            <td>
              <%= image_tag @user.get_profile_image %><br>
              <%= @user.name %>
           </td>
            <td><span><%= @opinion.opinion_title %></span></td>
            <td><span><%= @opinion.opinion_body %></span></td>
         <% if @user == current_user %>
            <td><%= link_to "Edit", edit_users_opinion_path(@opinion.id), class: 'btn btn-sm btn-success' %></td>
            <td><%= link_to "Destroy", users_opinion_path(@opinion.id), class: 'btn btn-sm btn-danger', method: :delete, "data-confirm" => "本当に消しますか？" %></td>
         <% else %>

         <% end %>
         </tr>
        </tbody>
      </table>

    <% if user_signed_in? %>

          <% if @opinion.favorited_by?(current_user) %>

            <%= link_to users_opinion_opinion_favorites_path(@opinion, params: { opinion: { down: 2} }), method: :delete do %>
            ♥<%= @opinion.opinion_favorites.count %> いいね
            <% end %>

          <% else %>

            <%= link_to users_opinion_opinion_favorites_path(@opinion, params: { opinion: { up: 2} }), method: :post do %>
            ♡<%= @opinion.opinion_favorites.count %> いいね
            <% end %>

          <% end %>

          <h4>コメント投稿</h4>

        <%= form_with(model:[@opinion, @opinion_comment], url: '/users/opinions/'+"#{@opinion.id}"+'/opinion_comments', method: :post) do |f| %>
          <%= f.text_area :opinion_comment, size: "96x5" %><br>
          <%= f.submit '送信', class: "btn btn-primary btn-block mt-2" %>
        <% end %>

    <% else %>

    ♥<%= @opinion.opinion_favorites.count %> いいね

    <div class="mt-4 mr-2">
        ※ブックマークおよびコメントは<%= link_to "ログイン", new_user_session_path %>ユーザーのみ可能となります。
    </div>

    <% end %>

    <h4 class="mt-5">コメントは現在<%= @opinion.opinion_comments.count %>件です。</h4>

      <table class="table mt-5">
        <thead>
          <tr>
           <th>コメント投稿者</th>
           <th>コメント内容</th>
           <th></th>
           <th>コメント投稿日</th>
         </tr>
        </thead>
       <tbody>
        <% @opinion.opinion_comments.each do |opinion_comment| %>
          <tr>
           <td>
             <% if user_signed_in? %>
                <%= link_to users_user_path(opinion_comment.user.id) do %>
                  <%= image_tag opinion_comment.user.get_profile_image %><br>
                  <%= opinion_comment.user.name %>
                <% end %>
             <% else %>
                  <%= image_tag opinion_comment.user.get_profile_image %><br>
                  <%= opinion_comment.user.name %>
             <% end %>
           </td>
           <td><%= opinion_comment.opinion_comment %></td>
           <td><% if opinion_comment.user == current_user %>
                 <%= link_to "削除", users_opinion_opinion_comment_path(@opinion.id, opinion_comment.id), method: :delete %>
               <% else %>
               <% end %>
           </td>
           <td><%= opinion_comment.created_at.strftime('%Y/%m/%d') %></td>
         </tr>
        <% end %>
      </tbody>
     </table>

      </div>
    </div>
  </div>

