  <div class="container mt-4">
    <div class="row">
      <div class="col-md-3">

        <%= render '/users/users/user_info', user: @user %>
        <%= render '/users/users/opinion_post_show' %>

      </div>

      <div class="col-md-8 offset-md-1">

      <h2>
        <%= @opinion.created_at.strftime('%Y/%m/%d') %>の投稿

      <% if @user.is_deleted == false %>

      （PV数：<%= @opinion.impressions_count %>）
      </h2>

      <h6 class="mb-4">
       ※あなたの訪問をPV数に反映させる場合、画面をリロードする必要があります。
      </h6>

      <% elsif @user.is_deleted == true %>

      <% end %>

  <% if @user.is_deleted == false %>

      <table class="table">
        <tbody>
          <tr>
            <td class="align-middle">
              <% if user_signed_in? %>
                <%= link_to user_path(@opinion.user.id) do %>
                    <%= image_tag @opinion.user.get_profile_image, width: '85px' %><br>
                    <%= @opinion.user.name %>
                <% end %>
              <% else %>
                    <%= image_tag @opinion.user.get_profile_image, width: '85px' %><br>
                    <%= @opinion.user.name %>
              <% end %>
           </td>
            <td class="align-middle"><%= @opinion.opinion_title %></td>
            <td class="align-middle"><%= @opinion.opinion_body %></td>
         <% if @user == current_user %>
            <td class="align-middle"><%= link_to "編集", edit_opinion_path(@opinion.id), class: 'btn btn-sm btn-success' %></td>
            <td class="align-middle"><%= link_to "削除", opinion_path(@opinion.id), class: 'btn btn-sm btn-danger', method: :delete, "data-confirm" => "本当に消しますか？" %></td>
         <% else %>
         <% end %>
         </tr>
        </tbody>
      </table>

      <% if user_signed_in? %>

          <div id="opinion_favorite_buttons_<%= @opinion.id %>">
            <%= render partial: "users/opinions/opinion_favorite", locals: { opinion: @opinion } %>
          </div>
          <div>
            ※ いいね は、一人一個まで可能です。<br>
            ハートに色がついている場合、あなたは既に押されています。
          </div>

          <div id="opinion_comment_error">
            <%= render '/layouts/errors', obj: @opinion_comment %>
          </div>

          <h4 class="mt-3">コメント投稿</h4>

          <div>
            <%= render partial: '/users/opinions/opinion_comment_post', locals: { opinion: @opinion, opinion_comment: @opinion_comment } %>
          </div>

      <% else %>

            ♥<%= @opinion.opinion_favorites.count %> いいね

          <div class="mt-4 mr-2">
             ※ いいねを押す およびコメント投稿は<%= link_to "ログイン", new_user_session_path %>ユーザーのみ可能となります。
          </div>

      <% end %>

          <div id="opinion_comment_area">
            <%= render partial: '/users/opinions/opinion_comments_all', locals: { opinion_comment: @opinion_comment, opinion_comments: @opinion_comments } %>
          </div>

          <div class="pagination justify-content-center">
            <%= paginate(@opinion_comments) %>
          </div>

    <div class="text-center m-5">
      <%= link_to "全ての会員の投稿一覧", opinions_path, class:"m-3" %>
      <%= link_to "この会員の投稿一覧", opinions_user_index_user_path(@user), class:"m-3" %>
    </div>

  <% elsif @user.is_deleted == true %>

      <div class="text-center m-5 h2">
         投稿者退会のため<br>
         投稿は非表示にさせていただきます。
      </div>

  <% end %>

      </div>
    </div>
  </div>