  <% if @user == current_user %>

      <% if @users.present? %>
      <div class="mx-auto" style="width: 1400px;">
         <h2 class="text-center mb-5">あなたがフォローしている会員です。</h2>
         <h3>フォロー一覧</h3>
         <%= render '/users/users/users_follow_index', users: @users %>
      </div>
      <% else %>
      <div class="mx-auto" style="width: 900px;">
         <h2 class="text-center">あなたは、まだフォローしていません。</h2>
      </div>
      <% end %>

      <div class="text-center m-5">
         <%= link_to "マイページに戻る", users_user_path(@user.id) %>
      </div>

  <% else %>

      <% if @users.present? %>
      <div class="mx-auto" style="width: 1400px;">
         <h2 class="text-center mb-5"><%= @user.name %> さんがフォローしている会員です。</h2>
         <h3>フォロー一覧</h3>
         <%= render '/users/users/users_follow_index', users: @users %>
      </div>
      <% else %>
      <div class="mx-auto" style="width: 900px;">
         <h2 class="ml-5"><%= @user.name %> さんは、まだフォローしていません。</h2>
      </div>
      <% end %>

      <div class="text-center m-5">
         <%= @user.name %> さんの<%= link_to "詳細に戻る", users_user_path(@user.id) %>
      </div>

  <% end %>