<div class="mx-auto" style="width: 1000px;">

 <% if @model == 'user' %>
	<h3 class="mb-5">会員検索 ＝ "<%= @content %>"</h3>
    <%= render 'users/users/users_follow_index' %>
 <% elsif @model == 'opinion' %>
	<h3 class="mb-5">投稿検索 ＝ "<%= @content %>"</h3>
    <%= render 'users/users/opinions_all_search', opinions: @opinions %>
 <% elsif @model == 'review' %>
	<h3 class="mb-5">投稿記事検索 ＝ "<%= @content %>"</h3>
    <%= render 'users/users/reviews_all_search', reviews: @reviews %>
 <% end %>

</div>