<% if @model == 'user' %>
	<h3>Users search for "<%= @content %>"</h3>
  <%= render 'users/users/index_follow' %>
<% elsif @model == 'opinion' %>
	<h3>Opinions search for "<%= @content %>"</h3>
  <%= render 'users/users/show_opinions_all', opinions: @opinions %>
<% elsif @model == 'review' %>
	<h3>Reviews search for "<%= @content %>"</h3>
<%= render 'users/users/show_reviews_all', reviews: @reviews %>
<% end %>