<!DOCTYPE html>
<html>
  <head>
    <title>BookReview</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <% if admin_signed_in? %>
      <li><%= link_to "会員一覧", admins_users_path %></li>
      <li><%= link_to "ログアウト", destroy_admin_session_path, method: :delete %></li>
      <% elsif user_signed_in? %>
      <li><%= link_to 'マイページ', users_user_path(current_user.id) %></li>
      <li><%= link_to '会員一覧', users_users_path %></li>
      <li><%= link_to '意見一覧', users_opinions_path %></li>
      <li><%= link_to '投稿フォーム', new_users_review_path %></li>
      <li><%= link_to "ログアウト", destroy_user_session_path, method: :delete %></li>
      <% else %>
      <li><%= link_to "新規登録", new_user_registration_path %></li>
      <li><%= link_to "ログイン", new_user_session_path %></li>
      <% end %>
      <%= form_with url: users_search_path, local: true, method: :get do |f| %>
      <%= f.text_field :content %>
      <%= f.select :model, options_for_select({ "User" => "user", "Opinion" => "opinion", "Review" => "review"}) %>
      <%= f.select :method, options_for_select({ "完全一致" => "perfect", "前方一致" => "forward", "後方一致" => "backward", "部分一致" => "partial" }) %>
      <%= f.submit '検索' %>
      <% end %>
    </header>
    <%= yield %>
  </body>
</html>
