<!DOCTYPE html>
<html>
  <head>
    <title>BookReview</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
      <%= csrf_meta_tags %>
      <%= csp_meta_tag %>

      <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
      <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <%= render '/layouts/header' %>
    </header>
      <h1 class="text-center m-5">
        <% if flash[:notice] %>
        <%= flash[:notice] %>
        <% end %>
      </h1>
    <%= yield %>
    <footer>
      <p class="text-center m-5">Book_Review</p>
    </footer>
  </body>
</html>
